page-start {
  .theBody {
    height: 100%;
    width: 100%;
    background: url("../../assets/imgs/Defaults/parl.jpg");
    background-size: cover;
    text-align: center;
    color: black;
    // filter: grayscale(80%);
    p {
      position: absolute;
      z-index: 10;
      top: 45%;
      width: 100%;
      padding: 10px;
      color: black;
      background: linear-gradient(rgba(255, 255, 255, 0.1), white, rgba(255, 255, 255, 0.1));
      border-radius: 15px;
      margin: auto;
    }
  }
  .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    // border: 2px solid green;
    text-align: center;
    color: rgb(19, 19, 19);
    text-shadow: 0 0 10px black;
    z-index: 1;

    button {
      margin: 0;
      //   height: 50px;
    }
  }
  .xplr {
    margin: 10px auto;
    // border: 2px solid green;
    padding-left: 20px;
    padding-right: 20px;
    button {
      border-radius: 50px;
      animation: fadeIn 1s;
      width: 60%;
      margin: 50px auto;
      background: linear-gradient(grey, rgba(128, 128, 128, 0.171));
      animation: 1s bounceInUp;
      
    }
  }

  
  .logs {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    button {
    //   height: 50px;
      animation: fadeIn 1.5s;
    }
    // border: 2px solid green;
  }
  .logs > button:nth-child(1) {
    // background: rgb(10, 117, 60);
    border-top: 1px solid  rgba(85, 85, 85, 0.397);
    // border-right: .5px solid black;
  }
  .logs > button:nth-child(2) {
    // background: rgb(10, 117, 60);
    border-top: 1px solid  rgba(85, 85, 85, 0.397);
    border-left: .5px solid  rgba(85, 85, 85, 0.603);
  }
  #logo {
    height: 30%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000000;
    animation: start 700ms;
  }

  .filter {
    background: radial-gradient(rgba(255, 255, 255, 0.561), white);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  @keyframes start {
    0% {
      height: 25%;
    }
    70% {
      height: 25%;
    }
    100% {
      height: 30%;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}
