page-sign-in {
  .top {
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    .appName {
      margin-top: 15px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: whitesmoke;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-weight: 700;
    }
    #circle {
      width: 100%;
      height: 60px;
      background: #04592a;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
  .theBody {
    height: 100%;
    width: 100%;
    z-index: 0;
    background: whitesmoke;
  }
  .userContent {
    height: 100%;
    width: 100%;
    background: white;
  }
  .logo {
    margin-top: 60px;
    text-align: center;
    height: 150px;
    img {
      height: 100%;
    }
  }
  .inputs {
    // border: 2px solid red;
    // margin-top: 50px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.199);
    border-radius: 15px;
    position: absolute;
    text-align: center;
    //   height: 45%;
    width: 90%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .button-inner {
    text-transform: capitalize;
  }
  #forgotPassword {
    font-size: 11px;
    float: right;
  }
  .btnActions {
    height: 30px;
    width: 230px;
    border-radius: 50px;
    margin: 0 auto;
    background: radial-gradient(color($colors, primary))
  }
  #Explorer {
    position: absolute;
    left: 49.8%;
    bottom: -18px;
    transform: translateX(-50%);
  }
  b {
    padding-left: 5px;
  }
  #clearBtn {
    margin-top: 10px;
    font-size: 11px;
    height: 20px;
  }
  p {
    //   display: none;
    // position: absolute;
    z-index: 1;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    font-weight: 700;
    text-align: center;
  }
  //   =========================================================================
  .topHalf {
    height: 50%;
    // border: 2px solid red;
    text-align: center;
    // background: whitesmoke;
  }
  .bottomHalf {
    height: 50%;
    //   border: 2px solid red;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #curve {
      height: 40px;
      width: 100%;
      background: white;
      position: absolute;
    }
  }

  #theLogo {
    height: 55%;
    margin: 30px auto;
    animation: start 700ms;
  }
  .user-input {
    background: whitesmoke;
    border-radius: 50px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #dcc050;
  }

  @keyframes start {
    0% {
      height: 40%;
    }
    100% {
      height: 55%;
    }
  }
  .theCard{
    padding-top: 20px;
    width: 100%;
  }
}
