<ion-content>
    <div class="theBody">
        <div class="topHalf">
          <img id="theLogo" src="../../assets/imgs/4IR logo.png" alt="" />
        </div>
        <div class="bottomHalf" padding>
          <div class="theCard">
              <ion-input placeholder="Email" id="anim1" name="email" #email="ngModel" type="email" class="user-input" ngModel required></ion-input>
              <span style="color: red" *ngIf="!email.valid && email.touched" class="help-block">Please enter your email</span>
              <ion-input placeholder="Password" id="anim1" name="password" #password="ngModel" type="password" class="user-input" required ngModel></ion-input>
              <span style="color: red" *ngIf="!password.valid && password.touched" class="help-block">Please enter password</span>
              <button ion-button block id="anim1" class="btnActions" (click)="SignIn(email.value,password.value)">SIGN IN</button>
              <button ion-button clear id="forgotPassword" (click)="forgotpassword()">Forgot Password</button>
        
          </div>
        </div>
   
      </div>

</ion-content>
