<!-- <ion-content *ngFor="let userdetails of detailArray">

  <div id="popover">
    <button ion-button full clear (click)="GoToEditProfile()">Edit Profile</button>
    <button ion-button full clear (click)="logOut()">Sign Out</button>
  </div>
  <div class="topHalf">
  
      <button ion-button id="opts" clear color="secondary" (click)="togglePopover()">
        <ion-icon name="more"></ion-icon>
      </button>

    <div class="topPart" (click)="removePopover()">
      <img id="DP" src="{{userdetails.downloadurl}}" alt="" imageViewer  (click)="removePopover()">
    </div>
    <div class="name" (click)="removePopover()">
      <h3>{{userdetails.name}}</h3>
      <p>{{userdetails.email}}</p>
      <p>{{userdetails.cell}}</p>
    </div>
  </div>
  <div class="slides" (click)="removePopover()">
    <div class="places">
      Reviewed Places
    </div>
   
    <ion-slides class="ionSlide" slidesPerView="2.1">
        <div *ngIf="!i" class="empty">
          no data
        </div>
        <div *ngFor="let i of ratings; let ind = index" (click)="viewMore(ind)">
            <ion-slide>
                <div class="placeContainer">
                  <div class="date">
                  </div>
                  <div class="stars">
                      <div *ngIf="userdetails.rating == 0; then loggedIn0">
                        </div>
                        <div *ngIf="userdetails.rating == 1; then loggedIn1">
                        </div>
                        <div *ngIf="userdetails.rating == 2; then loggedIn2">
                        </div>
                        <div *ngIf="userdetails.rating == 3; then loggedIn3">
                        </div>
                        <div *ngIf="userdetails.rating == 4; then loggedIn4">
                        </div>
                        <div *ngIf="userdetails.rating == 5; then loggedIn5">
                        </div>
                        <ng-template #loggedIn0>
                          <i>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn1>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn2>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn3>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn4>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn5>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </i>
                        </ng-template>
                  </div>
                  <img src="../../assets/imgs/Defaults/default.png" alt="">
                </div>
                <div class="companyName">
                  <p>
                    {{i.orgName}}</p>
                </div>
              </ion-slide>
        </div>
    </ion-slides>
  </div>
</ion-content> -->

<ion-content class="body">
    <div class="popover">
      <button ion-button clear class="popoverOptions" (click)="GoToEditProfile()" color="custom">Edit Profile</button>
      <button ion-button clear class="popoverOptions" (click)="logOut()" color="custom">Sign Out</button>
    </div>
    <ion-fab top right>
      <button ion-fab clear mini color="trans" class="settings" icon-only (click)="showPopover()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-fab>
  
  
    <div class="body" (click)="bodyClick()">
      <div class="navs">
  
        <div class="profile" *ngFor="let item of detailArray">
          <div class="gradient">
            <div class="username">
              <h3>{{item.name}}</h3>
              <!-- <p id="reviews">Made {{totrating}} Reviews</p> -->
            </div>
          </div>
          <img src="{{item.downloadurl}}" class="displayPicture" alt="">
          <div class="restOfBody">
            <p class="infogram" id="theAbout">About</p>
            <ion-card class="infoCard" padding>
              <p class="subInfogram">email</p>
              <p>{{item.email}}</p>
              <br>
              <p class="subInfogram">
                mobile
              </p>
              <p>{{item.cell}}</p>
            </ion-card>
  
            <p class="infogram" id="myReviews">My Reviews</p>
          </div>
        </div>
      </div>
    </div>
    <div class="empty" *ngIf="ratings.length == 0 || ratings.length == undefined">
      <img class="telescope" src="../../assets/imgs/Defaults/empty.png" alt="">  
      <p class="itsEmpty">You haven't made any reviews so far...</p>
      </div>
    <ion-slides slidesPerView="2" color="dark">
  
      <div *ngFor="let i of ratings; let ind = index" (click)="viewMore(ind)">
        <ion-slide>
          <ion-card class="list">
            <h3 class="orgName">{{i.orgName}}</h3>
            <div class="stars">
              <div *ngIf="i.rating == 0; then loggedIn0">
              </div>
              <div *ngIf="i.rating == 1; then loggedIn1">
              </div>
              <div *ngIf="i.rating == 2; then loggedIn2">
              </div>
              <div *ngIf="i.rating == 3; then loggedIn3">
              </div>
              <div *ngIf="i.rating == 4; then loggedIn4">
              </div>
              <div *ngIf="i.rating == 5; then loggedIn5">
              </div>
              <ng-template #loggedIn0>
                <i>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </i>
              </ng-template>
              <ng-template #loggedIn1>
                <i>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </i>
              </ng-template>
              <ng-template #loggedIn2>
                <i>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </i>
              </ng-template>
              <ng-template #loggedIn3>
                <i>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </i>
              </ng-template>
              <ng-template #loggedIn4>
                <i>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </i>
              </ng-template>
              <ng-template #loggedIn5>
                <i>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </i>
              </ng-template>
            </div>
            <div class="overlay">
  
            </div>
            <img class="orgImage" src="{{i.orgPicture}}" alt="">
  
          </ion-card>
        </ion-slide>
      </div>
    </ion-slides>
  </ion-content>