<ion-content *ngFor="let userdetails of detailArray">

  <div id="popover">
    <button ion-button full clear (click)="GoToEditProfile()">Edit Profile</button>
    <button ion-button full clear (click)="logOut()">Sign Out</button>
  </div>
  <div class="topHalf">
  
      <button ion-button id="opts" clear color="secondary" (click)="togglePopover()">
        <ion-icon name="more"></ion-icon>
      </button>

    <div class="topPart" (click)="removePopover()">
      <img id="DP" src="{{userdetails.downloadurl}}" alt="" imageViewer  (click)="removePopover()">
    </div>
    <div class="name" (click)="removePopover()">
      <h3>{{userdetails.name}}</h3>
      <p>{{userdetails.email}}</p>
      <p>0813917127</p>
      <!-- <p>4877 Ugago Street <br>
        protea glen ext 3 <br>
        Johannesburg <br>
        1819
      </p> -->
    </div>
  </div>
  <div class="slides" (click)="removePopover()">
    <div class="places">
      Reviewed Places
    </div>
   
    <ion-slides class="ionSlide" slidesPerView="2.1">
        <div *ngFor="let i of ratings; let ind = index" (click)="viewMore(ind)">
            <ion-slide>
                <div class="placeContainer">
                  <div class="date">
                    <!-- <p>{{i.date}</p> -->
                  </div>
                  <div class="stars">
                      <div *ngIf="userdetails.rating == 0; then loggedIn0">
                        </div>
                        <div *ngIf="userdetails.rating == 1; then loggedIn1">
                        </div>
                        <div *ngIf="userdetails.rating == 2; then loggedIn2">
                        </div>
                        <div *ngIf="userdetails.rating == 3; then loggedIn3">
                        </div>
                        <div *ngIf="userdetails.rating == 4; then loggedIn4">
                        </div>
                        <div *ngIf="userdetails.rating == 5; then loggedIn5">
                        </div>
                        <ng-template #loggedIn0>
                          <i>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn1>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn2>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn3>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn4>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                          </i>
                        </ng-template>
                        <ng-template #loggedIn5>
                          <i>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </i>
                        </ng-template>
                  </div>
                  <img src="../../assets/imgs/Defaults/default.png" alt="">
                </div>
                <div class="companyName">
                  <p>
                    {{i.orgName}}</p>
                </div>
              </ion-slide>
        </div>
    </ion-slides>
  </div>
  <!-- <div class="theHead">

        <div class="moveimage">
            <img  width="150px;" height="150px;" class="image" src="{{userdetails.downloadurl}}">
        </div>
      </div>
  <div class="popover">
    <button ion-button clear class="popoverOptions" (click)="editProfile()" color="custom">Edit Profile</button>
    <button ion-button clear class="popoverOptions" (click)="logOut()" color="custom">Sign Out</button>
  </div>
  <ion-fab top left>
    <button ion-fab clear mini color="transparent" class="back" icon-only (click)="GoTOHomePage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab top right>
    <button ion-fab clear mini color="transparent" class="settings" icon-only (click)="showPopover()">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-fab>


 
    <div class="move">
        <div>{{userdetails.name}}</div>
        <div>{{userdetails.email}}</div>
    
        <div>{{userdetails.address}}</div>
    </div>
 
 
  
  <button ion-button (click)="logOut()">logOut</button>
  <button ion-button (click)="  GoToEditProfile()">Edit Profile</button> -->
</ion-content>