page-user-profile {
  .topPart {
    width: 100%;
    height: 25%;
    // border: 2px solid red;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: center;
    background: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
    #DP {
      width: 180px;
      height: 180px;
      border-radius: 90px;
      transform: translateY(45px);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.103);
    }
  }
  .name {
    padding-top: 70px;
    text-align: center;
    h3 {
      text-transform: capitalize;
    }
    p {
      text-transform: lowercase;
    }
  }
  .slides{
      border: 2px solid red;
      .places{
          height: 30px;
      }
  }
  // .ionHeader {
  //     height: 0px;
  //     display: block;
  //     animation: fadeIn 1s;
  // }
  // .theHead {
  //     transition: 500ms;
  //     height: 120px;
  //     background: whitesmoke;
  //     // position: relative;
  //     box-shadow: 0 0 5px #fff;
  //     border-bottom-right-radius: 16px;
  //     border-bottom-left-radius: 16px;
  //     box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
  // }
  // .popoverOptions{
  //     height: 30px;
  //     width: 100%;
  //     text-align: left
  // }
  // .popover{
  //     position:   relative;
  //     z-index: 10000000;
  //     width: 150px;
  //     background: whitesmoke;
  //     top: 5px;
  //     right: -50%;
  //     padding: 5px;
  //     transition: 500ms;
  // }
  // .image{
  //   border-radius: 100px;
  //    text-align: center;
  // //    margin-bottom: 80%;
  // }
  // .move{
  //     position:relative;
  //     text-align: center;
  //     // margin-bottom: 0%;
  // }
  // .moveimage{
  //    text-align: center;
  //    margin-left:5%;
  // }
}
