page-home {
  .everythingBig {
    background: whitesmoke;
  }
  .starRating {
    color: #ffd700;
  }
  .cards {
    box-shadow: 0 5px 5px rgba(128, 128, 128, 0.866);
    transition: 500ms;
    padding: 0;
    margin-bottom: 20px;
    height: 110px;
  }

  .org-name {
    // padding-top: 8px;
    margin: 0px 0px 0px 8px;
    // font-weight: bold;
    color: black;
  }

  .slides {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
    background: rgb(36, 144, 177);
  }
  .theDiv {
  }

  .card-background-page {
    ion-card {
      position: relative;
      text-align: left;
      box-shadow: 0 5px 15px black;
      height: 145px;
      width: 120px;
      // margin-top: -15px;
      border-radius: 7px;

      p {
        color: white;
        font-size: 90%;
      }
    }

    .card-title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      width: 100%;
      font-weight: bold;
      color: #fff;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
      z-index: 1000000000000000000000;
      //   text-shadow: 0 0 15px black;
      //   border: 2px solid red;
    }

    .card-subtitle {
      font-size: 1em;
      position: absolute;
      text-align: center;
      bottom: 15%;
      width: 100%;
      color: #fff;
      text-shadow: 0 0 15px black;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-text-stroke-color: rgba(0, 0, 0, 1);
      -webkit-text-stroke-width: 0.5px;
      z-index: 1000000000000000000000;

      //   border: 2px solid red;
    }
  }

  .mapBig {
    // flip-card
    display: block;
    perspective: 1000px;
  }

  .overlay {
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.521);
    z-index: 2;
  }
  .theImage {
    width: 100%;
    height: 145px;
    object-fit: cover;
  }
  #table-id {
    width: 100%;
    border-radius: 8px;
    // border-right: #dcc050 1px solid;
    height: 80px;
    margin-top: 8px;
    -webkit-box-shadow: 0px -1px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 7px -1px rgba(0, 0, 0, 0.75);

    .org-img {
      height: 90px;
      width: 100%;
      display: block;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      // border-radius: 8px;
      display: block;
      object-fit: cover;
    }

    #map_canvas {
      width: 100%;
      box-shadow: 0 0 0.1px grey;
    }
  }
  .everythingSmall #map {
    width: 100vw;
    height: 100vh;
    display: block;
    animation: fadeIn 1s;
    z-index: 0;
    box-shadow: 0 0 0.1px grey;
  }
  .TheStar {
    color: #dcc050;
    // margin-top: -3px;
    margin-left: 8px;
  }
  //   =========================
  #mapView {
    width: 100%;
    height: 100%;
    display: none;
    // border: 2px solid red;
    overflow-y: hidden;
  }

  .theHead {
    transition: 500ms;
    height: 120px;
    background: whitesmoke;
    position: relative;
    box-shadow: 0 0 5px #fff;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    // margin: 0 auto;
    position: relative;
    display: block;
  }
  .hidden {
    width: 35px;
    height: 0px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: red;
    opacity: 0;
    z-index: 1;
  }
  #funnel {
    font-size: 28px;
    position: absolute;
    right: 25px;
    top: 25px;
    text-shadow: 0 0 5px black;
    color: white;
    z-index: 1;
  }
  .split {
    height: 175px;
    transition: 1s;
  }
  .split2 {
    height: 185px;
    transition: 1s;
  }
  .theTitle {
    transition: 500ms;
    color: white;
    position: absolute;
    // border: 2px solid red;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    // left: 0%;
  }
  b {
    color: rgb(26, 26, 26);
  }
  // .top {
  //     position: relative;
  //     background: #166b85;
  //     // border: 2px solid red
  // }
  .fixtext {
    color: grey;
    font-size: 12px;

    margin: 0px 0px 0px 8px;
  }
  .more {
    transition: 700ms;
    color: rgb(17, 17, 17);
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1;
    // font-size: 12px;
    // padding-right: 7px;
    // border: 1px solid white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    // text-align: right;
  }
  .searchBar {
    transition: 700ms;
    border-radius: 550px;
    // background: white;
    padding-left: 10px;
    position: absolute;
    top: 18px;
    width: 0;
    margin-right: 20px;
    left: -40%;
    height: 40px;
    // transform: rotateY(180DEG)
  }
  .profile {
    transition: 700ms;
    color: white;
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 1;
    // height: 40px;
    // width: 40px;
    border-radius: 40px;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
  }
  .displayPic {
    // margin-top: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
    font-size: 3em;
    color: black;
    z-index: 1;
  }
  #imgOnMap {
    position: absolute;
    top: 25px;
    left: 20px;
  }
  #filteredNearBy {
    display: none;
  }
  #searchlist {
    position: relative;
    top: 70px;
  }
  #searched-items {
    padding-top: 0;
    margin-top: -10px;
    animation: 1s fadeIn;
  }
  .options {
    height: 130px;
    width: 85%;
    // box-shadow: 0 10px 15px grey;
    border-radius: 5px;
    transition: 700ms;
    background: white;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-53%);
    z-index: 100;
    // display: flex;
    @media screen and (min-width: 700px) {
      transform: translateX(-52%);
    }
  }
  .intro {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
  #statement {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 10px;
    color: orange;
    // text-shadow: 0 0 5px greenyellow
  }
  .finePrint {
    font-size: 14px;
    color: grey;
  }
  .myFlexBox {
    position: absolute;
    bottom: 10px;
    padding-left: 10px;
    display: flex;
    width: 100%;
  }
  .selects {
    border-radius: 5px;
    height: 20px;
    font-size: 70%;
    padding-left: 10px;
    padding-right: 10px;
    .button-inner {
      background: transparent;
    }
  }
  .ionHeader {
    height: 0px;
    display: block;
    animation: fadeIn 1s;
  }
  .head {
    // height: 40px;
    // padding-top: -10px;
    border: 0.5px solid rgb(134, 134, 134);
    border-radius: 10px;
    margin-right: 5px;
  }
  .theLabel {
    padding: 5px;
    width: 60%;
  }
  #list {
    display: block;
    animation: fadeIn 1s;
  }
  #cash {
    width: 15px;
    position: absolute;
    margin-top: 0px;
    margin-left: 2px;
    //   background: black
  }
  .listedCard {
    box-shadow: 0 5px 5px rgba(128, 128, 128, 0.352);
    //     -webkit-box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.75);
    // box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.75);
    border-radius: 5px;
    transition: 500ms;
    padding: 0;
    margin-bottom: 5px;
    height: 80px;
    animation: 1s fadeIn;
    border-right: #ffd700 2px solid;
  }
  .item ion-thumbnail {
    min-width: 80px;
    min-height: 80px;
    img {
      max-width: 80px;
      min-width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
  // #all {
  //     width: 91%;
  //     margin: 20px auto;
  // }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #icon {
    color: orange;
  }
  ion-icon {
    &[class*="appname-"] {
      // Instead of using the font-based icons
      // We're applying SVG masks
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
    // custom icons
    &[class*="appname-coins"] {
      mask-image: url(../assets/imgs/Defaults/coin-stack.svg);
    }
    &[class*="appname-arrows"] {
      mask-image: url(../assets/imgs/Defaults/arrows.svg);
    }
    // &[class*="appname-customicon2"] {
    //     // mask-image: url(../assets/img/customicon2.svg);
    // }
    // &[class*="appname-customicon3"] {
    //     // mask-image: url(../assets/img/customicon3.svg);
    // }
  }
}
.alert-wrapper {
  .alert-head,
  .alert-radio-group,
  .alert-tappable,
  .alert-button-group,
  .button-inner,
  .button-effect,
  .alert-radio-label,
  .alert-radio-icon {
    background-color: #04592a;
    color: #ffffff !important;
  }
  .alert-radio-icon {
    border: 2px solid white;
  }
}

.searchbar-search-icon {
  // margin-top: 10px;
  // margin-left: 10px;
}
.button-inner {
  background-color: transparent;
}
.searchbar-input-container {
  background: white;
  padding: 0px;
  border-radius: 50px;
}

* {
  box-sizing: border-box;
}

.column-left {
  float: left;
  width: 93%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4px;
  // background: grey;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.411);
  -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.283);
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.366);
  background: white;
}

.column-right {
  float: left;
  width: 7%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 6px;
  margin-top: 6px;
  -webkit-box-shadow: 1px 2px 5px -3px rgba(0, 0, 0, 0.345);
  -moz-box-shadow: 1px 2px 5px -3px rgba(0, 0, 0, 0.466);
  box-shadow: 1px 2px 5px -3px rgba(0, 0, 0, 0.411);
  // margin-top: 4px;
  // -webkit-box-shadow: 2px 1px 5px -2px rgba(0, 0, 0, 0.493);
  // -moz-box-shadow: 2px 1px 5px -2px rgba(0, 0, 0, 0.356);
  // box-shadow: 2px 1px 5px -2px rgba(0, 0, 0, 0.445);

  ion-icon {
    font-size: 40px;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#list-holder {
  // margin-top: 16px;
}

.column-left-1 {
  float: left;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  .org-img {
    height: 75px;
    width: 80px;
    display: block;
    // border-top-left-radius: 8px;
    // border-bottom-left-radius: 8px;
    border-radius: 8px;
    display: block;
    object-fit: cover;
  }
}

.column-right-1 {
  float: left;
  width: 75%;
  height: 80px;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
}

// /* Clear floats after the columns */
// .row:after {
//   content: "";
//   display: table;
//   clear: both;
// }
.searchbar-input {
  border: 1px solid rgba(0, 0, 0, 0.249);
  box-shadow: 0 0 10px black;
  border-radius: 50px;
  border-radius: 50px !important;
  box-shadow: 0 0 10px transparent !important;
}
.loading-wrapper {
  height: 80px;
}
.orgz {
  display: none;
}
@media screen and (max-width: 766px) {
  .mapBig {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  ion-content, .everythingBig{
    overflow: hidden
  }
  .theHead {
    width: 29vw;
  }

  .column-right {
    display: none;
  }
  .column-left {
    width: 100%;
    border-radius: 10px;
  }
  .everythingSmall,
  #toggleFab {
    display: none;
  }
  .everythingBig {
    display: flex;
  }
  .orgz {
    display: block;
    // border: 2px solid red;
    width: 30vw;
    overflow-y: scroll;
    height: 100vh;
  }
  .try1 {
    // border: 2px solid green
  }
  #map {
    width: 100%;
    height: 100%;
    display: none;
    animation: fadeIn 1s;
    // z-index: 0;
    box-shadow: 0 0 0.1px grey;
    backface-visibility: hidden;
    // border: 2px solid green;
  }
  #viewOrg {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
  }
  .mapBig {
    display: none;
  }
  @media screen and (max-width: 990px) {
    .org-name {
      font-size: 11px;
    }
  }
  .mapBig {
    width: 70%;
    height: 100%;
    background: whitesmoke;
    position: relative;
    perspective: 1000px;
  }
  // .mapBig:hover .flip-card-inner {
  //   transform: rotateY(0deg);
  // }

  #flip-card-inner {
    // flip-card-inner
    width: 70vw;
    height: 100vh;
    transform: rotateY(180deg);
    // border: 2px solid green;
    // margin-top: 285px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    // transform: rotateY(180deg);
  }
  #mapBig {
    // margin-top: 175px;
    width: 100%;
    height: 100%;
    display: block;
    animation: fadeIn 1s;
    box-shadow: 0 0 0.1px grey;
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
    // border: 2px solid green;
    h1 {
      text-align: center;
      position: relative;
      top: 50%;
    }
  }
  #viewOrg {
    top: 0;
    background: white;
    border: 1px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow-y: scroll;
  }
  #viewOrg {
    #close-view-button {
      display: none;
    }
    #orgView {
      display: block;
      animation: 1s fadeIn;
    }

    .rev-div {
      display: flex;
      flex-direction: row;
      // background: green;
      // justify-content: center;
      align-items: center;
      margin: 5px;
      padding: 5px;

      img {
        height: 36px;
        width: 36px;
        border-radius: 50%;
      }
    }
    .fontchange {
      font-size: 50%;
      color: grey;
    }
    .speech-bubble {
      position: relative;
      background: #f2f2f2;
      border-radius: 0.4em;
      min-width: 60%;
      margin-right: 5%;
      padding: 5px;

      .rev-name {
        font-weight: bold;
        margin: 2px;
      }

      p {
        font-size: 90%;
        margin: 2px;
        color: grey;
      }
    }

    .speech-bubble:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 24px solid transparent;
      border-left-color: #f2f2f2;
      border-right: 0;
      border-top: 0;
      margin-top: -12px;
      margin-right: -24px;
    }

    .orgName {
      font-size: 90%;
    }
    #map {
      height: 100%;
      width: 100%;
    }
    #googleMaps {
      right: 55px;
      top: 00px;
    }
    #theMap {
      width: 100%;
      height: 100%;
      display: none;
      animation: 1s fadeIn;
      button {
        position: absolute;
      }
      .price {
        margin-left: 10px;
      }
      #navigate {
        bottom: 0px;
        z-index: 100;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
      }
      .myFab {
        display: block;
      }
      #getDistance {
        position: absolute;
        z-index: 100;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        padding: 5px;
        box-shadow: 0 0 10px black;
        border-radius: 5px;
      }
      .moreinfo {
      }
    }
    // .theStatements{
    //   display: none;
    // }
    .TheStar {
      color: #dcc050;
      margin-top: 8px;
    }
    .cover {
      height: 300px;
      width: 100%;
      position: relative;
    }

    #myCover {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
    #myLogo {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px solid #dcc050;
      background: white;
      position: absolute;
      object-fit: contain;
      left: 50%;
      bottom: 0px;
      // transform: translateX(-50%);
    }

    .price {
      margin-right: -60%;
    }
    .theView {
      max-height: 90%;
      overflow-y: scroll;
    }
    .details {
      padding-top: 70px;
      text-align: center;
    }

    .ratingsSeg {
      text-align: center;
      padding-bottom: 20px;
    }
    .orgName {
      font-weight: bolder;
      font-size: 16px;
      text-transform: capitalize;
    }
    .category {
      color: grey;
      text-transform: capitalize;
      margin-top: 5px;
    }
    .rateName {
      text-transform: capitalize;
      margin-top: -30%;
    }
    .TheStar1 {
      color: #daa520;
    }
    .stars {
      margin-top: 50%;
    }
    .theStars {
      color: gold;
      font-size: 20px;
    }
    .h1 {
      color: gold;
    }

    .switchCases {
      // background: whitesmoke;
      height: 100%;

      .custom-cards {
        background: white;
        margin: 5px;
        //     -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
        // -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
        // box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
      }
    }
    .ParagraphPadding {
      // padding-top:5px;
      color: grey;
      font-size: 90%;
    }
    .NamePadding {
      // padding-top:10%;
      color: rgb(36, 36, 36);
    }
    .padding {
      // padding-bottom: 10%;
      display: flex;
      flex-direction: column;
      // padding: 8px;
    }
    .title {
      color: rgb(36, 36, 36);
      padding: 8px;
      display: flex;
      flex-direction: column;
      // font-weight: 500;
      // border-bottom: 1px solid rgba(128, 128, 128, 0.103);
    }
    #serv-list {
      // height: 50px;
      // background: red;
      display: flex;
      flex-direction: column;
      padding: 8px;
    }
    #destmap {
      height: 30%;
      width: 90%;
      padding-left: 6px;
      margin-left: 5%;
      border-radius: 5px;
      background: url("../../assets/imgs/Defaults/Map.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    #needs {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
      border-radius: 5px;
      text-align: left;
    }
    ion-card-header {
      font-weight: bold;
    }
    .TheStar {
      color: gold;
    }
    h3 {
      font-weight: 100;
      font-size: 16px;
    }
    .description {
      font-size: 90%;
      color: rgb(47, 47, 47);
    }
    .galImg {
      height: 150px;
      padding: 3px;
      object-fit: cover;
    }

    .actions {
      display: flex;
      width: 100%;
      text-align: center;
      // border-bottom: 1px solid grey;
      padding-top: 8px;
      padding-bottom: 8px;
      // border-top: 1px solid grey;
      // border-bottom: 1px solid grey;
      width: 90%;
      margin-left: 5%;
    }
    .profilePic {
      object-fit: cover;
    }
    .icons {
      width: 30%;
      text-align: center;
      // border: 2px solid black;
      margin: 0 auto;
      color: #dcc050;
      font-size: 20px;

      ion-icon {
        // font-size: 30px;
        color: #dcc050;
      }
    }
    .message {
      text-align: left;
    }
    .arrow {
      text-shadow: 0 0 10px black;
    }
    #lie {
      position: absolute;
      top: 50%;
      left: 55%;
      padding-bottom: 30%;
      transform: translate(-50%, 20%);
    }
    #emptyIMG {
      height: 80px;
      padding-left: 30%;
    }
    .emptyCont {
      position: relative;
    }
    #needs {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
      border-radius: 5px;
      text-align: left;
    }
    ion-card-header {
      font-weight: bold;
    }
    .line {
      border-bottom: 1px solid rgba(128, 128, 128, 0.249);
      // width: 30%;
      // position: absolute;
      // right: 0;
      // margin-right: 20px;

      // margin: 0 auto;
      // width: 95%;
      // border-bottom-color: #aaaaaa;
      // border-bottom-style: solid;
      // border-bottom-width: 1px;
    }
    p {
      margin-top: 0%;
      margin-bottom: 3%;
    }
    h6 {
      margin-top: 0%;
      margin-bottom: 0%;
    }
    .cardf {
      border-radius: 15px 15px 15px 15px;
    }
    .label-md {
      margin: 0px 0px 0px 0;
    }
    .imgg {
      max-height: 100px;
      max-width: 100px;
      border: 0;
      box-shadow: 2px, 2px 8px rgb(0, 0, 0);
    }
    ion-avatar {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    .card-header-md + .card-content-md,
    .card-md .item + .card-content-md {
      padding-top: 5px;
    }
    .card-content-md {
      padding-top: 4px;
      padding-right: 16px;
      padding-bottom: 13px;
      padding-left: 15px;
      font-size: 1.6rem;
      line-height: 1.5;
    }
    .item-md h2 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 2px;
      margin-left: 6px;
      font-size: 1.8rem;
      font-weight: normal;
      padding-top: 0px;
    }
    .chatbubble {
      // background-color: whitesmoke;
      border-radius: 25px;
    }
    .col {
      padding-bottom: 0%;
      margin-bottom: 0%;
    }
    .grid {
      padding-bottom: 0%;
      margin-bottom: 0%;
    }
    .item-md {
      padding: 15px;
    }
    .galuploaded-byOrg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    a {
      color: black;
    }

    ion-icon {
      &[class*="appname-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
      }
      // custom icons
      &[class*="appname-twitter"] {
        mask-image: url(../assets/imgs/Defaults/twitter-logo.svg);
        font-size: 200%;
      }
      &[class*="appname-facebook"] {
        mask-image: url(../assets/imgs/Defaults/facebook.svg);
        font-size: 200%;
      }
      // &[class*="appname-customicon3"] {
      //     // mask-image: url(../assets/img/customicon3.svg);
      // }
    }
  }
}
