<ion-content>
  <div class="theBody">
    <div class="topHalf">
      <img id="theLogo" src="../../assets/imgs/4IR logo.png" alt="" />
    </div>
    <div class="bottomHalf" padding>
      <!-- <p>Fill in the form to get signed up.</p> -->
      <div class="theCard">
          <ion-input placeholder="Name" type="text" name="username" #username="ngModel" class="user-input" id="anim1" ngModel required></ion-input>
          <span class="help-block" style="color: red" *ngIf="!username.valid && username.touched" >Please enter your username</span>

          <ion-input placeholder="Email" type="email" name="email" #email="ngModel" class="user-input" id="anim2" ngModel required></ion-input>
          <span class="help-block" style="color: red" *ngIf="!email.valid && email.touched" >Please enter your email</span>

          <ion-input placeholder="Password" type="password" class="user-input"name="password" #password="ngModel" id="anim4" ngModel required></ion-input>
          <span  class="help-block" style="color: red" *ngIf="!password.valid && password.touched">Please enter your password</span>

          <button ion-button block class="btnActions" id="anim5" (click)="SignUp(username.value,email.value,password.value)">SIGN UP</button>
    
      </div>
    </div>

  </div>

</ion-content>
