page-onbounding {
.img{
   text-align: center;
//    margin-top:60px;
.Image{
    text-align: center;
    margin-top:-14%;
}
}
.img1{
  margin-top:-20px;
//   border:2px solid red;
}
.sizeforimage{
    width:100%;
    height:250px;
    object-fit: cover;

}
.heading1{
    text-align: center;
    color:#04592a;
    text-transform: capitalize;
    margin-top:20px;
    font-weight: bolder;
    font-size: 1.2em;
}
.heading3{
    text-align: center;
    color:#04592a;
    text-transform: capitalize;
    margin-top:25px;
    font-weight: bolder;
    font-size: 1.2em;
}
.sizeforimage2{
    margin-top:40PX;
    width:80%;
    // border: 1px solid red;
    width: 100%;
}
.img2{
    height:150px;
    width:80%;
    object-fit: cover;
}
.heading{
//    border: 2px solid red;
   text-align: center;
   color:#04592a;
   text-transform: capitalize;
   margin-top:20px;
   font-weight: bolder;
   font-size: 1.2em;
}
.paragraph{
   text-align: center;
   color: grey;
   font-size: 0.7em;
   margin-top:30px;

}
.btn{
    // border: 2px solid red;  
    text-align: center;
    width: 100%;
    height: 0px;
    margin-top:30px;
    position: absolute;
    left: 0;
    bottom: 100px;
}
.button{
    width: 80%;
    border-radius: 100px;
     }
}
