<ion-content *ngFor="let i of orgArray">

    <div id="theMap">
        <ion-fab top right id="googleMaps">
            <button ion-fab mini (click)="googleMap()">
                <ion-icon name="compass"></ion-icon>
            </button>
        </ion-fab>
        <ion-fab>
            <button ion-fab mini (click)="getDirection()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-fab>
        <button ion-button clear class="moreinfo"></button>
        <button ion-button (click)="navigate()" id="navigate">GET DIRECTIONS</button>
        <p (click)="getDistance()" id="getDistance">{{showDistance}}</p>
        <div #map id="map">
        </div>
    </div>


    <!-- <ion-fab top left class="backBtn">

        <button color="light" clear ion-button icon-only (click)="Back()">
            <ion-icon class="arrow" name="arrow-back"></ion-icon>
        </button>
    </ion-fab> -->
    <div class="cover">
        <img id="myLogo" src="../../assets/imgs/Defaults/default.png" alt="">
        <img id="myCover" src="../../assets/imgs/Defaults/default.png" alt="">
    </div>
    <div class="details">
        <div class="orgName">
            {{i.orgName}}
        </div>
        <div class="category">
            {{i.category}}
        </div>
        <div class="TheStar">
            <ion-icon name={{Star1}}></ion-icon>
            <ion-icon name={{Star2}}></ion-icon>
            <ion-icon name={{Star3}}></ion-icon>
            <ion-icon name={{Star4}}></ion-icon>
            <ion-icon name={{Star5}}></ion-icon>
        </div>
        <div class="description" padding>
            {{i.desc}}
        </div>
        <div class="actions">
            <div class="icons" (click)="getDirection()">
                <ion-icon name="navigate"></ion-icon>
            </div>
            <div class="icons">
                <ion-icon name="call" (click)="call(i.cell)"></ion-icon>
            </div>
            <div class="icons">
                <ion-icon name="mail" (click)="email(i.email)"></ion-icon>
            </div>
            <div class="icons">
                <a href="https://www.google.com">
                    <ion-icon name="globe"></ion-icon>
                </a>
            </div>

        </div>
        <div class="ourSegment">
            <ion-segment color="bg" [(ngModel)]="pet">
                <ion-segment-button value="services">
                    Services
                </ion-segment-button>
                <ion-segment-button value="reviews">
                    Reviews
                </ion-segment-button>
                <ion-segment-button value="gallery">
                    Gallery
                </ion-segment-button>
            </ion-segment>
        </div>
        <div class="switchCases">
            <div class="switch" no-padding [ngSwitch]="pet">
                <div id="segView" *ngSwitchCase="'services'">

                    <!-- <div class="emptyCont" *ngIf="services.length == 0 || services.length == undefined">
                        <img id="emptyIMG" src="../../assets/empty.jfif">
                        <p id="lie">There are no uploads avaliable yet .....</p>
                    </div> -->
                    <ion-list>
                        <ion-card>
                            <ion-item>
                                <h2> Unlimited WiFi</h2>
                                <ion-note>
                                    R200.00
                                </ion-note>
                            </ion-item>
                            <ion-card-content>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, soluta.
                                </p>
                            </ion-card-content>
                        </ion-card>
                    </ion-list>
                </div>

                <ion-list *ngSwitchCase="'reviews'">
                    <div class="StarCard">
                        <div class="ratings" align="center">
                            <div *ngIf="rateState == false; then loggedIn5 ">
                            </div>
                            <div *ngIf="rateState == true; then loggedIn2">
                            </div>
                            <ng-template #loggedIn5>
                                <h1 class="h1">
                                    <ion-icon name={{Star1}} (click)="comment('1')"></ion-icon>
                                    <ion-icon name={{Star2}} (click)="comment('2')"></ion-icon>
                                    <ion-icon name={{Star3}} (click)="comment('3')"></ion-icon>
                                    <ion-icon name={{Star4}} (click)="comment('4')"></ion-icon>
                                    <ion-icon name={{Star5}} (click)="comment('5')"></ion-icon>
                                </h1>
                                <h3>Rate this organisation!</h3>
                            </ng-template>
                            <ng-template #loggedIn2>
                                <h3 class="OrgMessage">Thank you for rating this organisation.</h3>
                            </ng-template>
                        </div>
                    </div>
                    <ion-card class="comments">
                        <div class="theDiv" *ngFor="let a of commentArr">
                            <ion-item>
                                <ion-avatar item-start>
                                    <img class="profilePic" [src]="a.url">
                                </ion-avatar>
                                <b>
                                    <h2>{{a.username}}</h2>
                                </b>
                                <p style="color: #04592a">{{a.date}}</p>
                                <div *ngIf="a.rating == 0; then loggedIn0">
                                </div>
                                <div *ngIf="a.rating == 1; then loggedIn1">
                                </div>
                                <div *ngIf="a.rating == 2; then loggedIn2">
                                </div>
                                <div *ngIf="a.rating == 3; then loggedIn3">
                                </div>
                                <div *ngIf="a.rating == 4; then loggedIn4">
                                </div>
                                <div *ngIf="a.rating == 5; then loggedIn5">
                                </div>
                                <ng-template #loggedIn0>
                                    <p>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                    </p>
                                </ng-template>
                                <ng-template #loggedIn1>
                                    <p>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                    </p>
                                </ng-template>
                                <ng-template #loggedIn2>
                                    <p>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                    </p>
                                </ng-template>
                                <ng-template #loggedIn3>
                                    <p>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                    </p>
                                </ng-template>
                                <ng-template #loggedIn4>
                                    <p>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                    </p>
                                </ng-template>
                                <ng-template #loggedIn5>
                                    <p>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                    </p>
                                </ng-template>
                            </ion-item>
                            <ion-card-content>
                                <p class="message">{{a.comment}}</p>
                            </ion-card-content>
                            <hr>
                        </div>
                    </ion-card>
                </ion-list>


                <div id="segView" *ngSwitchCase="'gallery'">
                    <!-- <div class="emptyCont" *ngIf="gallery.length == 0 || gallery.length == undefined">
                                    <img id="emptyIMG" src="../../assets/empty.jfif">
                                    <p id="lie">There are no uploads avaliable yet .....</p>
                                </div> -->

                    <ion-grid>
                        <ion-row>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                            <ion-col col-4>
                                <img src="../../assets/imgs/Defaults/default.png" alt="" imageViewer>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>





            </div>

        </div>
    </div>
</ion-content>