#orgView {
    display: block;
    animation: 1s fadeIn;
  }

  .rev-div {
    display: flex;
    flex-direction: row;
    // background: green;
    // justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;


    img {
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
  }
.fontchange{
 font-size:50%;
 color:grey
}
  .speech-bubble {
    position: relative;
    background: #f2f2f2;
    border-radius: .4em;
    min-width: 60%;
    margin-right: 5%;
    padding: 5px;

    .rev-name {
      font-weight: bold;
      margin: 2px;
    }
    
    p {
      font-size: 90%;
      margin: 2px;
      color: grey;
    }
  }
  
  .speech-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-left-color: #f2f2f2;
    border-right: 0;
    border-top: 0;
    margin-top: -12px;
    margin-right: -24px;
  }

  .orgName {
    font-size: 90%;
  }
  #map {
    height: 100%;
    width: 100%;
  }
  #googleMaps {
    right: 55px;
    top: 00px;
  }
  #theMap {
    width: 100%;
    height: 100%;
    display: none;
    animation: 1s fadeIn;
    button {
      position: absolute;
    }
    .price{
      margin-left:10px;
    }
    #navigate {
      bottom: 0px;
      z-index: 100;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
    }
    .myFab{
      display: block;
    }
    #getDistance {
      position: absolute;
      z-index: 100;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      padding: 5px;
      box-shadow: 0 0 10px black;
      border-radius: 5px;
    }
    .moreinfo {
    }
  }
  // .theStatements{
  //   display: none;
  // }
  .TheStar {
    color: #dcc050;
    margin-top: 8px;
  }
.cover{
  height: 200px;
  width: 100%;
  position: relative;  
}

#myCover{
  height: 200px;
  width: 100%;
  object-fit: cover;
}
#myLogo{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #dcc050;
  background: white;
  position: absolute;
  object-fit: contain;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}

.price{
  margin-right:-60%;
}
.theView{
  max-height: 94vh;
  overflow-y: scroll 
}
.details{
  padding-top: 70px;
  text-align: center;
}

  .ratingsSeg {
    text-align: center;
    padding-bottom: 20px;
  }
.orgName{
  font-weight: bolder;
  font-size: 16px;
  text-transform: capitalize;
}
.category{
  color: grey;
  text-transform: capitalize;
  margin-top: 5px;
}
.rateName{
text-transform: capitalize;
margin-top:-30%;
}
.TheStar1{
  color:#DAA520;
}
.stars{
  margin-top:50%;
}
.theStars{
  color: gold;
  font-size: 20px;
}
.h1{
  color: gold;

}

.switchCases {
  // background: whitesmoke;
  height: 100%;

  .custom-cards {
    background: white;
    margin: 5px;
//     -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
// -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
// box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
  }
}
.ParagraphPadding{
  // padding-top:5px;
  // border: 2px solid red;
  color: grey;
  font-size: 12px;
  // max-height: 50px;
  overflow: hidden;
  transition: 700ms;
  position: relative;
}
.ParagraphPadding-1{
  // padding-top:5px;
  // border: 2px solid red;
  color: grey;
  font-size: 12px;
  max-height: 50px;
  overflow: hidden;
  transition: 700ms;
  position: relative;
}
.NamePadding{
  // padding-top:10%;
  color: rgb(36, 36, 36);
  padding: 0;
}
#readMore{
  margin-top:10px;
  transition: 300ms;
}
#read-more-less{
  text-transform: lowercase;
  font-size: 12px;
  float: right;
}
.padding{
  // padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  // padding: 8px;
}
.title{
  color: rgb(36, 36, 36);
  padding:8px;
  display: flex;
  flex-direction: column;
  // font-weight: 500;
  // border-bottom: 1px solid rgba(128, 128, 128, 0.103);
}
#serv-list {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
#destmap{
  height: 30%;
  width: 90%;
  padding-left:6px;
  margin-left:5%;
  border-radius: 5px;
  background: url("../../assets/imgs/Defaults/Map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#needs{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  text-align: left

}
ion-card-header{
  font-weight: bold;
}
.TheStar{
  color: gold;
}
h3{
  font-weight: 100;
  font-size: 16px
}
.description{
  font-size: 90%;
  color: rgb(47, 47, 47);
}
.galImg{
  height: 150px;
  padding: 3px;
  object-fit: cover;
}

.actions{
  display: flex;
  width: 100%;
  text-align: center;
  // border-bottom: 1px solid grey;
  padding-top: 0px;
  padding-bottom: 18px;
  // border-top: 1px solid grey;
  // border-bottom: 1px solid grey;
  width: 90%;
  margin-left: 5%;
}
.profilePic{
  
  object-fit: cover;
}
.icons{
  width: 30%;
  text-align: center;
  // border: 2px solid black;
  margin: 0 auto;
  color: #dcc050;
  font-size: 20px;

  ion-icon {
    // font-size: 30px;
    color: #dcc050;
  }
}
.message{
  text-align: left
}
.arrow{
  text-shadow: 0 0 10px black;    
}
#lie{
  position: absolute;
  top: 50%;
  left: 55%;
  padding-bottom:30%;
  transform: translate(-50%,20%)
}
#emptyIMG{
  height: 80px;
  padding-left:30%;
}
.emptyCont{
  position: relative;
}
#needs{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  text-align: left

}
ion-card-header{
  font-weight: bold;
}
.line{
  border-top: 1px solid rgba(128, 128, 128, 0.249);
  height: 10px;
  // width: 30%;
  // position: absolute;
  // right: 0;
  // margin-right: 20px;
  
  // margin: 0 auto;
  // width: 95%;
  // border-bottom-color: #aaaaaa;
  // border-bottom-style: solid;
  // border-bottom-width: 1px;
}
p{
  margin-top: 0%;
  margin-bottom: 3%
}
h6{
  margin-top: 0%;
  margin-bottom: 0%
}
.cardf {
  border-radius: 15px 15px 15px 15px; 
}
.label-md {
  margin: 0px 0px 0px 0;
}
.imgg {
  max-height: 100px;
  max-width: 100px;
  border: 0;
  box-shadow: 2px,2px 8px rgb(0, 0, 0)
}
ion-avatar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.card-header-md + .card-content-md, .card-md .item + .card-content-md {
  padding-top: 5px;
}
.card-content-md {
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-size: 1.6rem;
  line-height: 1.5;
}
.item-md h2 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-left: 6px;
  font-size: 1.8rem;
  font-weight: normal;
  padding-top: 0px;
}
.chatbubble{
  // background-color: whitesmoke;
  border-radius: 25px
}
.col{
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.grid{
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.item-md{
  padding: 15px
}
.galuploaded-byOrg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: black;
}

ion-icon {
  &[class*="appname-"] {
      // Instead of using the font-based icons
      // We're applying SVG masks
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
  }
  // custom icons
  &[class*="appname-twitter"] {
      mask-image: url(../assets/imgs/Defaults/twitter-logo.svg);
      font-size: 200%;
  }
  &[class*="appname-facebook"] {
      mask-image: url(../assets/imgs/Defaults/facebook.svg);
      font-size: 200%;
  }
  // &[class*="appname-customicon3"] {
  //     // mask-image: url(../assets/img/customicon3.svg);
  // }
}


