<ion-content>

    <div id="orgView" *ngFor="let i of orgArray">
        <div class="cover">
            <img id="myLogo" src="{{i.logo}}" alt="" imageViewer>
            <img id="myCover" src="{{i.img}}" alt="">
        </div>
        <div class="details">
            <div class="orgName">
                {{i.prograName}}
            </div>
            <div class="category">
                {{i.programCategory}}
            </div>
            <div class="TheStar">
                <ion-icon name={{Star1}}></ion-icon>
                <ion-icon name={{Star2}}></ion-icon>
                <ion-icon name={{Star3}}></ion-icon>
                <ion-icon name={{Star4}}></ion-icon>
                <ion-icon name={{Star5}}></ion-icon>
            </div>
            <div class="description" padding>
                {{i.intro}}
            </div>
            <br>
        </div>
    </div>
    <div #destmap id="destmap" (click)="getDirection()">
    </div>
    <br>
    <div id="orgView" *ngFor="let i of orgArray">
        <div class="actions">
            <!-- <div class="icons" (click)="getDirection()">
                <ion-icon name="navigate"></ion-icon>
            </div> -->
            <div class="icons">
                <ion-icon name="call" (click)="call(i.cell)"></ion-icon>
                <p class="fontchange">call</p>
            </div>
            <div class="icons">
                <ion-icon name="mail" (click)="email(i.email)"></ion-icon>
                <p class="fontchange">email</p>
            </div>
            <div class="icons">
                <a href="{{i.website}}">
                    <ion-icon name="paper"></ion-icon>                
                </a>
                <p class="fontchange">apply</p>
            </div>

        </div>
        <div class="ourSegment">
            <ion-segment color="bg" [(ngModel)]="pet">
                <ion-segment-button value="programdetails">
                    Program Details
                </ion-segment-button>
                <ion-segment-button value="services">
                    Services
                </ion-segment-button>
                <ion-segment-button value="reviews">
                    Reviews
                </ion-segment-button>
            </ion-segment>
        </div>
        <div class="switchCases">
            <div class="switch" no-padding [ngSwitch]="pet">
                <div class="theView" id="segView" *ngSwitchCase="'programdetails'">

           
                    <h4>Objectives</h4>
                    <p>{{i.objectives}}</p><br>

                    <h4>programBenefits</h4>
                    <p>{{i.programBenefits}}</p><br>

                    <h4>eligibleCreteria</h4>
                    <p>{{i.eligibleCreteria}}</p><br>
                    <div class="icons">
                        <a href="{{i.twitter}}">
                            <ion-icon name="logo-twitter"></ion-icon>                
                        </a>
                        <p class="fontchange">Twitter</p>
                    </div>

                    <div class="icons">
                        <a href="{{i.facebook}}">
                            <ion-icon name="logo-facebook"></ion-icon>                
                        </a>
                        <p class="fontchange">facebook</p>
                    </div>


                 
                </div>

                <ion-list class="theView" *ngSwitchCase="'services'">
             
                        <div *ngFor="let a of services">

                                <div id="serv-list">
                                 
                                    <p class="NamePadding">{{a.title}}
                                    </p>
        
                                    <p class="ParagraphPadding">
                                        {{a.description}}
                                    </p>
                                    <div class="line"></div>
                                </div>
        
                            </div>
                   
                </ion-list>


                <div class="theView" id="segView" *ngSwitchCase="'reviews'">

                        <div class="theDiv" *ngFor="let p of commentArr">
                                <div class="rev-div">
                                    <img class="imgg" class="profilePic" [src]="p.url">
                                    <div class="speech-bubble">
        
                                        <table>
                                            <tr>
                                                <td>
                                                    <p class="rev-name"> {{p.username}}</p>
                                                </td>
                                                <td align="right">
                                                    <p class="stars">
                                                        <ion-icon class="TheStar" name="star"></ion-icon>
                                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                                        <ion-icon class="TheStar" name="star-outline"></ion-icon>
                                                    </p>
                                                </td>
                                            </tr>
        
                                            <tr>
                                                <td colspan="2">
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolorum placeat
                                                        quidem officiis. Ut dolorum velit itaque ad odio facere possimus ratione
                                                        at, eaque accusantium atque culpa quisquam ex quidem.</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
        
                                < </div>
                                    <div>
        
                                    </div>
                                    <ion-fab right mini>
                                        <button ion-fab mini style="background: white;">
                                            <ion-icon class="TheStar1" name="star"></ion-icon>
                                        </button>
                                        <ion-fab-list side="left">
                                            <button ion-fab style="background: whitesmoke;">
                                                <ion-icon class="TheStar1" name="star" (click)="comment('1')"></ion-icon>
                                            </button>
                                            <button ion-fab style="background: whitesmoke;">
                                                <ion-icon class="TheStar1" name="star" (click)="comment('2')"></ion-icon>
                                            </button>
                                            <button ion-fab style="background: whitesmoke;">
                                                <ion-icon class="TheStar1" name="star" (click)="comment('3')"></ion-icon>
                                            </button>
                                            <button ion-fab style="background: whitesmoke;">
                                                <ion-icon class="TheStar1" name="star" (click)="comment('4')"></ion-icon>
                                            </button>
                                            <button ion-fab style="background: whitesmoke;">
                                                <ion-icon class="TheStar1" name="star" (click)="comment('5')"></ion-icon>
                                            </button>
                                        </ion-fab-list>
        
                                    </ion-fab>

                    <!-- <div class="emptyCont" *ngIf="galleryArray.length == 0 || galleryArray.length == undefined">
                        <img id="emptyIMG" src="../../assets/empty.jfif">
                        <p id="lie">There are no uploads avaliable yet .....</p>
                    </div>

                    <ion-grid>
                        <ion-row>
                            <ion-col col-4 *ngFor="let i of galleryArray">
                                <img class="galuploaded-byOrg" src="{{i}}" alt="" imageViewer>
                            </ion-col>
                        </ion-row>
                    </ion-grid> -->
                </div>





                </div>

            </div>
        </div>

</ion-content>