



  #orgView {
    display: block;
    animation: 1s fadeIn;
  }
  #map {
    height: 100%;
    width: 100%;
  }
  #googleMaps {
    right: 55px;
    top: 00px;
  }
  #theMap {
    width: 100%;
    height: 100%;
    display: none;
    animation: 1s fadeIn;
    button {
      position: absolute;
    }
    .price{
      margin-left:10px;
    }
    #navigate {
      bottom: 0px;
      z-index: 100;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
    }
    #getDistance {
      position: absolute;
      z-index: 100;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      padding: 5px;
      box-shadow: 0 0 10px black;
      border-radius: 5px;
    }
    .moreinfo {
    }
  }
  
  .TheStar {
    color: goldenrod;
  }
.cover{
  height: 200px;
  width: 100%;
  position: relative;  
}

#myCover{
  height: 200px;
  width: 100%;
  object-fit: cover;
}
#myLogo{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 4px solid white;
  position: absolute;
  object-fit: cover;
  left: 50%;
  top: 150px;
  transform: translateX(-50%)
}

.price{
  margin-right:-60%;
}
.details{
  padding-top: 70px;
  text-align: center;
}

  .ratingsSeg {
    text-align: center;
    padding-bottom: 20px;
  }
.orgName{
  font-weight: bolder;
  font-size: 16px;
  text-transform: capitalize;
}
.category{
  color: grey;
  text-transform: capitalize;
}
.theStars{
  color: gold;
  font-size: 20px;
}
.h1{
  color: gold;

}
#destmap{
  height: 30%;
  width: 100%;
}
#needs{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  text-align: left

}
ion-card-header{
  font-weight: bold;
}
.TheStar{
  color: gold;
}
h3{
  font-weight: 100;
  font-size: 16px
}
.description{
  
}
.galImg{
  height: 150px;
  padding: 3px;
  object-fit: cover;
}

.actions{
  display: flex;
  width: 100%;
  text-align: center;
  // border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.profilePic{
  
  object-fit: cover;
}
.icons{
  width: 30%;
  text-align: center;
  // border: 2px solid black;
  margin: 0 auto;
  color: #dcc050;
  font-size: 20px;

  ion-icon {
    // font-size: 30px;
    color: #dcc050;
  }
}
.message{
  text-align: left
}
.arrow{
  text-shadow: 0 0 10px black;    
}
#lie{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,20%)
}
#emptyIMG{
  height: 80px;
}
.emptyCont{
  position: relative;
}
#needs{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  text-align: left

}
ion-card-header{
  font-weight: bold;
}
